<body id = "salas">
<a href='@Url.Action("sala1")'alt="">sala 1</a>
<a href='@Url.Action("sala2")'alt="">sala 2</a>
<a href='@Url.Action("sala3")'alt="">sala 3</a>
<a href='@Url.Action("sala4")'alt="">sala 4</a>
<a href='@Url.Action("sala5")'alt="">sala 5</a>
<a href='@Url.Action("sala6")'alt="">sala 6</a>
</body>