@{
    ViewBag.Title = "Sala 5 - Wordle";
    var historial = ViewBag.HistorialWordle as List<salaEscape.Models.JugadaWordle>;
    int wordleActual = ViewBag.wordleActual ?? 1;
    bool finalizado = ViewBag.finalizado ?? false;
    int cantLetras = ViewBag.cantLetras ?? 0;
string fondo = finalizado 
    ? "/images/fondoSala51.png" 
    : $"/images/fondoSala5{wordleActual - 1}.png";
}
<body style="background-image: url('@fondo'); background-size: cover;">

<div id="contenedor-wordle" style="display: block;">  


    @if (cantLetras > 0)
    {
        <p style="color: #e9bb58; font-family: 'MedievalSharp', cursive;">La palabra tiene <b>@cantLetras</b> letras.</p>
    }

    @if (ViewBag.error != null)
    {
        <div style="color:red">@ViewBag.error</div>
    }

    <div style="display: flex; gap: 30px; margin-bottom: 20px;">
        @if (historial != null)
        {
            int num = 1;
            foreach (var wordle in historial)
            {
                <div>
                    @foreach (var jugada in wordle.Jugadas)
                    {
                        <div>
                            @foreach (var letra in jugada)
                            {
                                var clase = letra.Color == 'v' ? "verde" :
                                            letra.Color == 'a' ? "amarillo" :
                                            "rojo";
                                <span class="@clase">@letra.Letra</span>
                            }
                        </div>
                    }
                </div>
                num++;
            }
        }
    </div>

    <div>
        @if (!finalizado)
        {
            <form action='@Url.Action("Sala5", "Home")' method="POST" class="form-wordle">
                <input type="text" name="wordle" pattern="[a-zA-Z]+" placeholder="Palabra" required autocomplete="off" maxlength="@cantLetras" minlength="@cantLetras" style="color: #e9bb58; font-family: 'MedievalSharp', cursive; background-color: #3c3c33; border: none; border-radius: 10px; padding: 10px;">
                <button type="submit" style="color: #e9bb58; font-family: 'MedievalSharp', cursive; background-color: #3c3c33; border: none; border-radius: 10px; padding: 10px;">Comprobar</button>
            </form>
        }
    </div>

    @if (finalizado)
    {
        <div id="submitCodigo">
            <form action='@Url.Action("Sala5", "Home")' method="POST">
                <input type="text" name="clave" placeholder="Ordená las pistas" required minlength="5" maxlength="5" style="color: #e9bb58; font-family: 'MedievalSharp', cursive; background-color: #3c3c33; border: none; border-radius: 10px; padding: 10px;">
                <input type="submit" value="Guardar">
            </form>
        </div>
    }

</div>


</body>
