<body id = "salas">
<a href='@Url.Action("sala1")'alt=""><img src="/images/puerta1.png" alt="Descripción de la imagen"></a>
<a href='@Url.Action("sala2")'alt=""><img src="/images/puerta2.png" alt="Descripción de la imagen"></a>
<a href='@Url.Action("sala3")'alt=""><img src="/images/puerta3.png" alt="Descripción de la imagen"></a>
<a href='@Url.Action("sala4")'alt=""><img src="/images/puerta4.png" alt="Descripción de la imagen"></a>
<a href='@Url.Action("sala5")'alt=""><img src="/images/puerta5.png" alt="Descripción de la imagen"></a>
<a href='@Url.Action("sala6")'alt=""><img src="/images/puerta6.png" alt="Descripción de la imagen"></a>
</body>